{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/github",
    "@semantic-release/changelog",
    "semantic-release-dotnet",
    [
      "@semantic-release/git",
      {
        "assets": [
          "Directory.Build.props",
          "*.md",
          "docs"
        ],
        "message": "chore: ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "semantic-release-telegram",
      {
        "chats": [
          -654863478
        ],
        "telegra.ph": {
          "title": "{name} v.{version}",
          "message": "<a href='{telegraph_url}'>Release Notes</a>",
          "content": "{release_notes}"
        }
      }
    ]
  ]
}